<nav>
    <div class="nav-wrapper yellow ">
        <a href="#" class="brand-logo center red" style="border-radius: 25%;" ><span style="margin-left: 10px;margin-right: 10px;">pokemon - angular</span></a>
    </div>
</nav>
<router-outlet></router-outlet>